.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  &__container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
