.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid #d1d1d1;
  padding: 10px 0;

  &__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 734px) {
      justify-content: space-between;
    }

    &__item {
      padding: 10px 5px;
      &:nth-of-type(1) {
        display: none;

        @media screen and (max-width: 734px) {
          display: block;
        }
      }

      &__logo {
        font-weight: bold;
      }

      &__text {
        @media screen and (max-width: 530px) {
          display: none;
        }
      }

      &__icon {
        margin-left: 20px;
      }
    }
  }
}
