.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 8%;
  margin-bottom: 3%;

  &__container {
    width: 100%;

    &__textDisplay {
      margin-bottom: 20px;

      &__message {
        border: 1.5px solid #d1d1d1;
        box-shadow: 0 0 2px #d1d1d1;
        padding: 20px 10px;
        border-radius: 10px;

        &__correct {
          margin-bottom: 10px;
        }
      }
    }

    form {
      display: flex;

      @media screen and (max-width: 530px) {
        flex-direction: column;
      }

      .inputForm {
        border-radius: 10px;
        width: 100%;
        margin-left: 20px;
        padding: 2px 10px 2px 15px;
        border: 1.5px solid #d1d1d1;
        box-shadow: 0 0 2px #d1d1d1;
        display: flex;

        &:focus-within {
          border: 1.5px solid #6f47eb;
        }

        &:hover {
          box-shadow: 0 0 5px #c7c7c7;
        }

        @media screen and (max-width: 530px) {
          margin: 0;
          margin-top: 15px;
        }

        textarea {
          width: 100%;
          border: none;
          padding: 10px 0px;
          resize: none;
          max-height: 200px;
          height: 45px;
        }

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
          padding: 0 10px;
        }
      }

      .inputVoiceRecord {
        border: 1.5px solid #d1d1d1;
        background-color: transparent;
        white-space: nowrap;
        padding: 10px 20px;
        border-radius: 10px;
        width: 50%;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 5px #c7c7c7;
        }

        &_active {
          border: 1.5px solid #6f47eb;
        }

        @media screen and (max-width: 530px) {
          width: 100%;
        }
      }
    }
  }
}
